<form [formGroup]="buyForm" (ngSubmit)="onSubmit()">
  <ion-list>
    <ion-item-divider color="danger">填写下列数据</ion-item-divider>
    <ion-item>
      <ion-label fixed>时间</ion-label>
      <ion-datetime formControlName="timeStr" displayFormat="YYYY-MM-DD" pickerFormat="YYYY MM DD"
                    cancelText="取消"
                    doneText="确定">
      </ion-datetime>
      <ion-note item-right color="danger" *ngIf="formErrors.time">
        {{ formErrors.timeStr }}
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label fixed>规格</ion-label>
      <ion-select formControlName="specification">
        <ion-option *ngFor="let specification of specifications" [value]="specification">
          {{specification.name}}
        </ion-option>
      </ion-select>
      <ion-note item-right color="danger" *ngIf="formErrors.specification">
        {{ formErrors.specification }}
      </ion-note>
    </ion-item>

    <ion-item>
      <ion-label fixed>数目/条</ion-label>
      <ion-input type="number"
                 formControlName="num"></ion-input>
      <ion-note item-right color="danger" *ngIf="formErrors.num">
        {{ formErrors.num }}
      </ion-note>
    </ion-item>

    <ion-item>
      <ion-label fixed>单价/元</ion-label>
      <ion-input type="number"
                 step="0.01"
                 formControlName="singlePrice"></ion-input>
      <ion-note item-right color="danger" *ngIf="formErrors.singlePrice">
        {{ formErrors.singlePrice }}
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label fixed>实际总价/元</ion-label>
      <ion-input type="number" step="0.01"
                 formControlName="actualSumPrice"></ion-input>
      <ion-note item-right color="danger" *ngIf="formErrors.actualSumPrice">
        {{ formErrors.actualSumPrice }}
      </ion-note>
    </ion-item>
    <ion-item-divider color="danger">计算结果</ion-item-divider>

    <ion-item>
      <ion-label fixed>方数/立方米</ion-label>
      <ion-label>{{buyRecord.sumVolume.toFixed(2)}}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label fixed>计算总价/元</ion-label>
      <ion-label>{{buyRecord.computeSumPrice.toFixed(2)}}
      </ion-label>
    </ion-item>
  </ion-list>
  <button ion-button block type="submit" [disabled]="!buyForm.valid">确定</button>
</form>
