<ion-list>
  <ion-item>
    <ion-label >规格</ion-label>
    <ion-label >单价/元</ion-label>
    <ion-label >数量/条</ion-label>
    <ion-label >方数/立方米</ion-label>
    <ion-label >总价/元</ion-label>
    <ion-label >买家</ion-label>

  </ion-item>
  <ion-item *ngFor="let sellRecord of sellRecordList">
    <ion-label >{{sellRecord.specification.name}}</ion-label>
    <ion-label >{{sellRecord.singlePrice.toFixed(2)}}</ion-label>
    <ion-label >{{sellRecord.num}}</ion-label>
    <ion-label >{{sellRecord.sumVolume.toFixed(2)}}</ion-label>
    <ion-label >{{sellRecord.actualSumPrice.toFixed(2)}}</ion-label>
    <ion-label >{{sellRecord.buyer}}</ion-label>

  </ion-item>
</ion-list>
