<ion-list *ngIf="collection&&collection.data.length>0">
  <ion-item-divider color="light">{{collection.getDateStr()}}</ion-item-divider>
  <ion-item *ngFor="let sellRecord of collection.data">
    <ion-label>{{sellRecord.specification.name}}</ion-label>
    <ion-label>{{sellRecord.singlePrice.toFixed(2)}}</ion-label>
    <ion-label>{{sellRecord.num}}</ion-label>
    <ion-label>{{sellRecord.sumVolume.toFixed(2)}}</ion-label>
    <ion-label>{{sellRecord.actualSumPrice.toFixed(2)}}</ion-label>
    <ion-label>{{sellRecord.buyer}}</ion-label>

  </ion-item>
</ion-list>

