<ion-card *ngIf="!buyRecordStorageTable||buyRecordStorageTable.currentSize()<=0">
  <ion-card-header>
    没有记录
  </ion-card-header>

  <ion-card-content>
    暂时没有记录
  </ion-card-content>
</ion-card>
<ion-list *ngIf="buyRecordStorageTable&&buyRecordStorageTable.currentSize()>0">
  <ion-item>
    <ion-label>规格</ion-label>
    <ion-label>单价/元</ion-label>
    <ion-label>数量/条</ion-label>
    <ion-label>方数/立方米</ion-label>
    <ion-label>总价/元</ion-label>
  </ion-item>
  <date-buy-record-list *ngFor="let buyRecordCollection of buyRecordStorageTable.collectionList"
                        [collection]="buyRecordCollection">

  </date-buy-record-list>
  <button *ngIf="buyRecordStorageTable.hasNext()" ion-button block (click)="onClickLoadMore()">
    加载更多
  </button>
</ion-list>


