<ion-list>
  <ion-item>
    <ion-label >规格</ion-label>
    <ion-label >单价/元</ion-label>
    <ion-label >数量/条</ion-label>
    <ion-label >方数/立方米</ion-label>
    <ion-label >总价/元</ion-label>
  </ion-item>
  <ion-item *ngFor="let buyRecord of buyRecordList">
    <ion-label >{{buyRecord.specification.name}}</ion-label>
    <ion-label >{{buyRecord.singlePrice}}</ion-label>
    <ion-label >{{buyRecord.num}}</ion-label>
    <ion-label >{{buyRecord.sumVolume}}</ion-label>
    <ion-label >{{buyRecord.actualSumPrice}}</ion-label>
  </ion-item>
</ion-list>
